<h1>Reservas</h1>

<h2>Nova Reserva</h2>

<%= link_to "criar nova reserva", new_reserva_path %>  

<h2>Próximas Saídas</h2>

<ul>
<% @reservas_por_saida.each do |data_e_horario, quantidade| %>
  <li>
	<%= link_to "#{DataEHorario.new(data_e_horario[0], data_e_horario[1]).to_s} (#{quantidade})", reservas_path(dia_desejado: data_e_horario[0], horario_desejado: data_e_horario[1])%> 
    <b><%= link_to "+", new_reserva_path(dia_desejado: data_e_horario[0], horario_desejado: data_e_horario[1] ) %></b>
  </li>
<% end %>
</ul>

<%= render 'reservas' unless @reservas.nil? %>
